<template>
    <wrapper :title="$i('ManagementUser')" sapo="">
        <div class="card">
            <div class="card-body">
                <div class="dn-content-left">
                    <div class="row" id="form-search">
                        <div class="col-xl-2 col-lg-4">
                            <button class="btn btn-info" title="Move Interview" @click="openPopupMember(0)">
                                Add New User
                            </button>
                        </div>
                    </div>
                    <div class="mt-2">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Login ID</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Authorization level</th>
                                <th class="text-center">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-if="listUser" v-for="(item, index) in listUser">
                                <td><p style="float:left">{{item.id}}</p></td>
                                <td><p style="float:left">{{item.name}}</p></td>
                                <td><p>{{item.email}}</p></td>
                                <td><p class="badge badge-primary">{{item.role_user.roles.name}}</p></td>
                                <td class="btn-action text-center width-160">
                                    <button class="btn btn-icons btn-primary" title="Move Working"
                                            @click="openPopupMember(item.id)">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <button class="btn btn-icons btn-danger" title="Move Working"
                                            @click="deleteUserCms(item)">
                                        <i class="fa fa-ban" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <modal v-if="popupMember" :title="this.titleModal" @close="popupMember = false">
                        <div slot="body">
                            <EditUser :userId="this.objUser.id" v-on:closePopup="closePopup()"></EditUser>
                        </div>
                    </modal>
                </div>
            </div>
        </div>
    </wrapper>
</template>
<script>
    import {mapActions, mapGetters} from 'vuex';
    import EditUser from './edit';
    export default {
        name: 'Home',
        data() {
            return {
                objUser: {
                    id: 0,
                    name: '',
                    email: '',
                    pageIndex: 1,
                    pageSize: 10,
                },
                objRole: {
                    pageIndex: 1,
                    pageSize: 100,
                },
                popupSetting: false,
                popupMember: false,
                titleModal: '',
            }
        },
        computed: {
            ...mapGetters(['listUser', 'listRole']),
            loggedIn() {
                return this.$store.getters.loggedIn
            },
        },
        components: {
            EditUser,
        },
        watch: {},
        methods: {
            ...mapActions(['getListUser', 'getListRole', 'deleteUser']),
            searchData(){
                let loading = this.$loading.show();
                this.getListUser(this.objUser).then(() => {
                    loading.hide();
                }).catch(error => {
                    loading.hide();
                    return this.$message(error.message, 'error');
                })
            },
            getRoles() {
                this.getListRole(this.objRole).then((response) => {
                }).catch(error => {
                    return this.$message(error.message, 'error');
                })
            },
            openPopupAddMember() {
                this.popupAddNewMember = true;
            },
            openPopupMember(id) {
                this.popupMember = true;
                this.objUser.id = id || 0;
                if(id>0) {
                    this.titleModal = 'EditUser';
                }else{
                    this.titleModal = 'AddUser';
                }
            },
            deleteUserCms(objData) {
                this.$confirm(this.$i('YouWantDelete')).then(() => {
                    this.deleteUser(objData).then((response) => {
                        if (response.success) {
                            this.searchData();
                            return this.$message(this.$i('DeleteUserSuccess'), 'success');
                        } else {
                            return this.$message(this.$i('DeleteUserFail'), 'error');
                        }
                    }).catch(error => {
                        return this.$message(error.message, 'error');
                    })
                }).catch(error => {
                });
            },
            closePopup() {
                this.popupMember = false;
                this.searchData();
            },
        },
        created() {
            this.searchData();
            this.getRoles();
        },
    };
</script>
<style type="text/css">
</style>
