﻿<template>
    <div id="app-entry" v-if="done">
        <router-view></router-view>
    </div>
</template>
<script>

    import { mapActions, mapGetters } from 'vuex';
    export default {
        name: 'app-wrapper',
        data() {
            return { done: false }
        },
        computed: {
            ...mapGetters(['system'])
        },
        methods: {
            ...mapActions(['initSystem', 'updateAppSettings'])
        },
        created() {
            let loading = this.$loading.show();
            this.initSystem().then(() => {
                loading.hide();
                let tempSettings = this.appSettings;
                var configResult = {};
                for (var i = 0; i < this.system.data.configs.length; i++) {
                    configResult[this.system.data.configs[i].key] = this.system.data.configs[i].value;
                }
                tempSettings = Object.assign(tempSettings, configResult);
                tempSettings.languages = this.system.data.languages;
                tempSettings.staticTexts = this.system.data.staticTexts;
                this.updateAppSettings(tempSettings);
                this.done = true;
            });
        }
    }
</script>
